@model Test2.Models.Scout

@{
    ViewData["Title"] = "Delete Scout";
}

<h2>Delete Scout</h2>

<h3>Are you sure you want to delete @Model.FullName?</h3>
<div>
    <hr />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DOB)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DOB)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FeePaid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FeePaid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Troop)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Troop.TroopName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to Scout List</a>
    </form>
</div>
